*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
}
body{
  background-color: gainsboro;
}
h1{
  font-size: 16px;
}
h2{
  font-size: 12px;
}
h3{
  font-size: 10px;
}
h4{
  font-size: 8px;
}